<!DOCTYPE html>
<html>
  <head>
    <% include template/head %>
  </head>
  <body >

    <header>
    <% include template/header %>
     
    </header>

    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="maincontent">
            <% include content/friendslist %>


          </div>
        </div><!-- primary -->
      </div>
    </div><!-- container -->
   <% include template/jsdefaults %>
</body>
</html>
