<!DOCTYPE html>
<html>
  <head>
    <% include template/head %>
  </head>
  <body >

    <header>
    <% include template/header %>
     
    </header>

    <% include content/friendslist %>

    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="maincontent">

            <article class="article">
              <h1 class="article-title">About Chat BootCamp</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                   Eligendi dolorem nobis provident nisi nam culpa quod ducimus, totam, est similique,
                    vitae quia architecto officia animi beatae consectetur atque quisquam laudantium.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae dicta consequatur 
                    officia alias, soluta dolorum, voluptatem sapiente nobis 
                    dolorem mollitia, aperiam dolores illum incidunt ex quo quidem optio eveniet at.
                </p>
            </article><!-- article -->


          </div>
        </div><!-- primary -->
      </div>
    </div><!-- container -->
   <% include template/jsdefaults %>
</body>
</html>
